#search-container {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.search-input {
    width: 40%;
    height: 50px;
    display: block;
    float: left;
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 20px;
    border: none;
    border-radius: 25px;
    font-size: medium;
    color: #1D222C;
    background: #F1EEE3 url("../../assets/images/search.svg") no-repeat 20px;
    background-size: 30px;
    transition: 0.3s;
}

.search-input:focus {
    outline: 1px solid #1D222C;
}

.search-input::-webkit-search-cancel-button{
    cursor: pointer;

    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url("../../assets/images/xmark-solid.svg") no-repeat;
}

.filter-container {
    width: 55%;
    display: inline-block;
}

.filter-container img {
    width: 15px;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.2s;
}

#filter-menu {
    width: 85%;
    height: 35px;
    padding-top: 15px;
    display: inline-block;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: 0.3s;
}

#filter-menu::-webkit-scrollbar {
    display: none;
}

#filter-menu span {
    width: fit-content;
    padding: 12px;
    margin: 5px;
    border: 1px solid #1D222C;
    border-radius: 5px;
    vertical-align: bottom;
    cursor: pointer;
}

#filter-menu span:hover {
    color: #F1EEE3;
    background-color: #1D222C;
}

.search-results {
    width: 90%;
    margin: auto;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.error-container {
    width: 100%;
    display: block;
    text-align: center;
}

.error-container h2 {
    font-weight: 400;
}

.error-container img {
    width: 45%;
    margin-top: -5vh;
}

@media (max-width: 1024px) {
    .search-input {
        width: 50%;
    }

    .filter-container {
        width: 45%;
    }

    #filter-menu {
        width: 80%;
    }
}

@media (max-width: 900px) {
    #search-container {
        margin-bottom: 100px;
    }

    .search-input {
        width: 100%;
    }

    .filter-container {
        width: 100%;
        margin: 20px;
    }
}

@media (max-width: 485px) {
    .search-results {
        width: fit-content;
        margin: auto;
        display: grid;
    }
}

@media (max-width: 390px) {
    .filter-container {
        width: 100%;
        margin: 10px;
    }

    #filter-menu {
        width: 68%;
    }
}