.form-page {
    margin: 100px auto;
}

.form-page h1, h4, h5 {
    margin-top: 5px;
    text-align: center;
    color: #1D222C;
}


.page-img {
    width: 45%;
    margin-left: 10%;
    margin-top: -5vh;
    float: left;
}

.profile-icon {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 55px;
    width: 5.15em;
    height: 5.15em;
}

.profile-form {
    width: 25%;
    height: 50%;
    margin-left: 5%;
    margin: auto;
    margin-top: -2vh;
    padding: 30px;
    transition: 0.5s;
}

.user-form {
    width: 25%;
    height: 50%;
    margin-right: 5%;
    float: right;
    margin-top: 5vh;
    padding: 30px;
    transition: 0.5s;
}

form label {
    width: 90%;
    display: block;
    margin: auto;
    color: #1D222C;
}

form input {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    background-color: #F1EEE3;
}

form input:focus {
    outline: none;
}

form h4 {
    text-align: center;
    color: #FDFCF7;
}

form h5 a {
    text-decoration: none;
    color: #E36166;
}

form h5 a:hover {
    color: #1D222C;
}

.update-buttons {
    width: 100%;
}

.update-buttons button {
    display: block;
    width: 40%;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
    padding: 15px;
    border: 0;
    border-radius: 35px;
    font-size: large;
    color: #FDFCF7;
    background-color: #1D222C;
    transition: 0.2s;
    cursor: pointer;
}

.update-btn {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    border: 0;
    border-radius: 35px;
    font-size: large;
    color: #FDFCF7;
    background-color: #1D222C;
    transition: 0.2s;
    cursor: pointer;
}

.user-form button {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    border: 0;
    border-radius: 35px;
    font-size: large;
    color: #FDFCF7;
    background-color: #1D222C;
    transition: 0.2s;
    cursor: pointer;
}

form button:hover {
    background-color: #E36166;
}

form img {
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid #FDFCF7;
    background-color: #FDFCF7;
    border-radius: 55px;
    width: 5.15em;
    height: 5.15em;
}

#form-error, #email-error, #username-error, #pass-error, #npass-error, #mpass-error {
    color: red;   
}

form #email, #username, #password {
    background-color: #ecebeb;
}

.error-content {
    width: 60%;
    display: block;
    margin: 5vh auto;
    margin-bottom: 21.5vh;
    text-align: center;
}

.error-content img {
    width: 80%;
}

@media (max-width: 1500px) {
    .user-form, .profile-form {
        width: 35%;
    }

    .page-img {
        width: 40%;
    }
}

@media (max-width: 1024px) {
    .user-form, .profile-form {
        width: 50%;
        margin: auto;
        display: block;
        float: none;
    }

    .page-img {
        display: none;
    }
}

@media (max-width: 900px) {
    .user-form, .profile-form {
        width: 70%;
        margin-bottom: 44vh;
    }
}

@media (max-width: 600px) {
    .user-form, .profile-form {
        width: 80%;
    }
}