.form-page {
    margin-left: auto;
    margin-right: auto;
}

.form-page h1, h4, h5 {
    margin-top: 5px;
    text-align: center;
    color: #FDFDFD;
}

#form-error {
    color: #FDFDFD;
    display: block;
}

form {
    width: 25%;
    height: 50%;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 20.6vh;
    padding: 30px;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #1A1A23;
}

form label {
    width: 90%;
    display: block;
    margin: auto;
    color: #FDFDFD;
}

form input {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
}

form input:focus {
    outline: none;
}

form h5 {
    text-align: center;
}

form h5 a {
    text-decoration: none;
    color: #4A80F0;
}

form h5 a:hover {
    color: #FDFDFD;
}

form button {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    font-size: large;
    color: #1A1A23;
    background-color: #4A80F0;
}

form button:hover {
    color: #4A80F0;
    background-color: #FDFDFD;
    cursor: pointer;
}

form img {
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid #FDFDFD;
    background-color: #FDFDFD;
    border-radius: 55px;
    width: 5.15em;
    height: 5.15em;
}

#login-space {
    display: block;
    width: 100%;
    padding-bottom: 18.1vh;    
}

#email-error, #username-error, #pass-error, #mpass-error {
    color: red;
    display: none;    
}

form #email, #username, #password {
    background-color: lightgray;
}

#v-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.v-overlay-inner {
    width: 30%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    color: #FDFDFD;
    background-color: #1A1A23;
}

.v-overlay-inner i {
    position: absolute;
    margin-left: 14%;
    font-size: x-large;
    color: #4A80F0;
}

.v-overlay-inner i:hover { 
    color: #FDFDFD;
}

#verify-error {
    color: #1A1A23;
    display: block;
}

.v-overlay-inner input {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 8px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    font-size: large;
    cursor: pointer;
}

.v-overlay-inner button {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    font-size: large;
    color: #1A1A23;
    background-color: #4A80F0;
}

.v-overlay-inner button:hover {
    color: #4A80F0;
    background-color: #FDFDFD;
    cursor: pointer;
}

.error-content {
    width: 60%;
    display: block;
    margin: 5vh auto;
    margin-bottom: 21.5vh;
    text-align: center;
}

.error-content img {
    width: 80%;
}

@media (max-width: 1500px) {
    form {
        width: 35%;
    }

    #login-space {
        padding-bottom: 8vh;
    }
}

@media (max-width: 1200px) {
    form {
        width: 60%;
    }
}

@media (max-width: 900px) {
    form {
        width: 70%;
        margin-bottom: 44vh;
    }

    .v-overlay-inner {
        width: 50%;
    }

    .v-overlay-inner i {
        margin-left: 24%;
    }
}

@media (max-width: 600px) {
    form {
        width: 80%;
    }

    .v-overlay-inner {
        width: 70%;
    }

    .v-overlay-inner i {
        margin-left: 34%;
    }
}

@media (max-width: 420px) {
    .form-page {
        background-color: #1A1A23;
    }

    form {
        margin-bottom: 40vh;
    }

    .v-overlay-inner {
        width: 90%;
    }

    .v-overlay-inner i {
        margin-left: 44%;
    }
}