.home-panel {
    width: 80%;
    margin-left: 10%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(70vh, auto);
    grid-template-areas: 
        "texts1 image1"
        "books books"
        "image2 texts2";
}

.text-content {
    grid-area: texts1;
    color: #1A1A23;
}

.text-content h1 {
    text-align: left;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
}

.text-content p {
    width: 70%;
    margin-left: 0;
    line-height: 150%;
}

.text-content button {
    padding: 15px;
    border: 0;
    border-radius: 15px;
    font-size: x-large;
    color: #FDFDFD;
    background-color: #1A1A23;
}

.text-content button:hover {
    color: #FDFDFD;
    background-color: #4A80F0;
}

.home-image {
    grid-area: image1;
    width: 100%;
    transform: scaleX(-1);
}

.book-showcase {
    grid-area: books;
    width: 100%;
    height: 500px;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: 25px;
    text-align: center;
    background-color: #FDFDFD;
}

.book-showcase h2 {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 2%;
    line-height: 200%;
    color: #1A1A23;
    border-bottom: 5px solid #1A1A23;
    text-transform: uppercase;
}

.book-slide {
    width: 86%;
    height: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    overflow: hidden;
    border: 10px solid #1A1A23;
    background-color: #FDFDFD;
}

.book-slide img {
    position: relative;
    float: left;
    width: 200px;
    height: 300px;
    margin: 1%;
    border-radius: 5px;
    transition: 0.5s;
}

.book-slide img:hover {
    transform: scale(0.95);
    box-shadow: 0px 5px 5px #4A80F0;
}

.home-image2 {
    grid-area: image2;
    width: 100%;
    transform: scaleX(-1);
}

.quote-content {
    grid-area: texts2;
    width: 70%;
    height: 40vh;
    margin: auto;
}

.quote-content h1 {
    text-align: right;
}

@media (max-width: 900px) {
    .home-panel {
        grid-template-columns: 100%;
        grid-auto-rows: minmax(60vh, auto);
        grid-template-areas: 
            "texts1"
            "image1"
            "books"
            "texts2"
            "image2";
    }

    .book-showcase {
        margin-top: 0;
        margin-bottom: 0;
    }

    .quote-content {
        width: 90%;
        height: 20vh;
        text-align: right;
    }
}
