.home-panel {
    width: 80%;
    margin-left: 10%;
    margin: 12vh auto;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
        "texts1 image1";
}

.home-panel p {
    width: 70%;
    margin-left: 0;
    font-size: large;
    line-height: 200%;
    text-align: justify;
    color: #1D222C;
}

.text-content {
    grid-area: texts1;
    display: block;
    margin-top: 25px;
    color: #1D222C;
    width: 140%;
    overflow: hidden;
    margin-left: -5%;
    padding: 20px;
    border-radius: 25px;
}

.text-content h1 {
    text-align: left;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #1A1A23;
}

.text-content button {
    padding: 15px;
    border: 0;
    border-radius: 30px;
    font-size: x-large;
    color: #FDFCF7;
    background-color: #1D222C;
    cursor: pointer;
    transition: 0.3s;
}

.text-content button:hover {
    color: #FDFCF7;
    background-color: #E36166;
}

.home-image {
    grid-area: image1;
    width: 130%;
    margin: 20vh auto auto -10vh;
    transform: scaleX(-1);
}

@media (max-width: 1440px) {
    .text-content {
        width: 170%;
    }

    .home-image {
        width: 150%;
        margin: 30vh auto auto -5vh;
    }
}

@media (max-width: 1024px) {
    .home-panel p {
        width: 80%;
    }

    .text-content {
        width: 200%;
        margin-top: 0px;
    }

    .home-image {
        width: 160%;
        margin: 41vh auto auto -18vh;
    }
}

@media (max-width: 390px) {
    .home-panel {
        width: 90%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "image1"
            "texts1";
    }

    .home-panel p {
        width: 100%;
        font-size: medium;
    }

    .text-content {
        width: 100%;
        margin-top: -15vh;
    }

    .text-content h1 {
        font-size: large;
    }

    .home-image {
        width: 100%;
        margin: 2vh auto 15vh auto;
    }
}