body {
    background-color: #FDFCF7;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #1D222C;
    text-decoration: none;
}

#error-page {
    text-align: center;
    display: block;
    padding: 100px;
}