body {
    background-color: #FDFDFD;
    width: 100%;
    height: 100%;
    margin: 0;
}

body * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-container {
    height: 100%;
}

.app-content {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "navbar"
        "pages"
        "footer";
}

.grid-item-1 {
    grid-area: navbar;
    margin-top: 0;
}

.grid-item-2 {
    grid-area: pages;
}

.grid-item-3 {
    grid-area: footer;
}
