.list-slider {
    width: 90%;
    margin-left: 5%;
    float: left;
}

.list-slider h2 {
    display: inline;
    margin-left: 5px;
    font-weight: lighter;
}

.list-slider img {
    display: inline;
    width: 20px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin: 3px;
    border-radius: 35px;
    float: right;
    cursor: pointer;
    transition: 0.2s;
}

.list-slider img:hover {
    background-color: #F1EEE3;
}

.book-slide {
    width: 90%;
    height: 380px;
    margin: auto;
    margin-left: 5%;
    float: left;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 1024px) {
    .book-slide {
        width: 88%;
    }
}

@media (max-width: 390px) {
    .book-slide {
        width: 85%;
    }
}