.book {
    width: 200px;
    margin: 15px;
    height: 375px;
    display: block;
    float: left;
}

.book img {
    width: 200px;
    height: 300px;
    border-radius: 0px;
    transition: 0.5s;
    -webkit-box-shadow: -15px 17px 10px -7px rgba(0,0,0,0.54);
    -moz-box-shadow: -15px 17px 10px -7px rgba(0,0,0,0.54);
    box-shadow: -15px 17px 10px -7px rgba(0,0,0,0.54);
}

.book img:hover {
    transform: scale(0.95);
} 

.book p {
    width: 90%;
    overflow: hidden;
    word-spacing: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
            line-clamp: 2;
    -webkit-box-orient: vertical;
}