.form-container {
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    display: grid;
    grid-template-columns: auto 500px;
    column-gap: 5%;
    padding-right: 10%;
    background-color: #EEEBE4;
}

.close-button {
    width: fit-content;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 6%;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close-button span {
    width: 50px;
    height: 10px;
    display: block;
    border-radius: 3px;
    background-color: #1D222C;
}

.close-button span:nth-child(1) {
    margin: -8px auto;
    transform: rotate(45deg);
}

.close-button span:nth-child(2) {
    margin: -10px auto;
    transform: rotate(-45deg);
}

.login-image-wrapper {
    height: 100%;
    overflow: hidden;
    background: url("../../assets/images/login.jpg") no-repeat transparent center/cover;
}

.signup-image-wrapper {
    height: 100%;
    overflow: hidden;
    background: url("../../assets/images/signup.jpg") no-repeat transparent center/cover;
}

.image-wrapper img {
    height: 100%;
    margin: auto;
    display: none;
}

.form-wrapper {
    width: 100%;
    height: fit-content;
    margin: 25% auto;
}

.form-wrapper h1 {
    text-align: start;
}

.form-wrapper form {
    width: 80%;
    padding: 10%;
    border: 2px solid rgb(28, 33, 43, 0.25);
    border-radius: 5px;
}

.form-wrapper form label {
    display: block;
    margin: 15px 0 10px 0;
    font-size: large;
}

.form-wrapper form span {
    display: none;
    color: red;
}

.form-wrapper form input {
    width: 90%;
    padding: 5%;
    border: 2px solid rgb(28, 33, 43, 0.25);
    border-radius: 5px;
    font-size: medium;
    background-color: transparent;
}

.form-wrapper form input:focus {
    outline: transparent;
    border: 2px solid rgb(28, 33, 43);
}

.form-wrapper form h4 {
    font-weight: normal;
    text-align: center;
    color: red;
}

.form-wrapper form p {
    margin: auto;
    font-size: medium;
    text-align: start;
}

.form-wrapper form a {
    color: #E36166;
}

.form-wrapper form a:hover {
    color: #1D222C;
}

.form-wrapper form button {
    min-width: 80%;
    width: 100%;
    margin: 35px auto 15px auto;
    padding: 5%;
    border: none;
    border-radius: 5px;
    font-size: larger;
    color: #EEEBE4;
    background-color: #1D222C;
    cursor: pointer;
}

.form-wrapper form button:hover {
    background-color: #E36166;
}

@media (max-width: 1440px) {
    .form-container {
        width: 100%;
        padding-right: 0;
        grid-template-columns: 500px;
        justify-content: center;
    }

    .close-button span {
        height: 10px;
        border: 2px solid #1D222C;
        background-color: #EEEBE4;
    }

    .close-button span:nth-child(1) {
        margin: -14px auto;
    }

    .login-image-wrapper {
        width: 150%;
        margin-left: -25%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .signup-image-wrapper {
        width: 150%;
        margin-left: -25%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .form-wrapper {
        border-radius: 5px;
        backdrop-filter: blur(100px);
        background-color: rgb(237, 234, 227, .75);
    }

    .form-wrapper h1 {
        text-align: center;
    }

    .form-wrapper form {
        border: none;
    }

    .form-wrapper form h4 {
        font-weight: bold;
    }
}

@media (max-width: 550px) {
    .form-container {
        grid-template-columns: 90%;
    }

    .close-button span {
        background-color: #EEEBE4;
    }
}