.book-content {
    min-width: auto;
    max-width: 1200px;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 400px auto;
    color: #1D222C;
}

.book-content img {
    width: 400px;
    height: 600px;
    z-index: 1;
    border-radius: 5px;
}

.detail-container {
    min-height: 500px;
    padding-top: 100px;
}

.detail-container h1, h2 {
    padding-left: 25px;
}

.detail-container h2 {
    font-weight: lighter;
}

.sub-detail-container {
    width: auto;
    min-height: 330px;
    margin: 15px auto auto -100px;
    padding: 25px 50px 50px 125px;
    background-color: #DAD4C5;
}

.sub-detail-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    transition: 0;
    color: #F1EEE3;
    background-color: #1D222C;
    cursor: pointer;
}

.sub-detail-container button:hover {
    background-color: #E36166;
}

.sub-detail-container a {
    margin-top: 10px;
    padding-right: 30px;
    font-size: larger;
    text-align: left;
    border-bottom: 1px solid #1D222C;
    background: url("../../assets/images/link.svg") transparent no-repeat center right / 20px;
}

.sub-detail-container a:hover {
    border-bottom: 1px solid #E36166;
    color: #E36166;
    background: url("../../assets/images/link-2.svg") transparent no-repeat center right / 20px;
}

.sub-detail-container div {
    width: fit-content;
    height: fit-content;
    margin: 30px 0;
    font-size: large;
}

.sub-detail-container div h4 {}

.sub-detail-container div span {
    font-weight: lighter;
}

.related-books-list {
    margin: 75px auto;
}

.similiar-books-title {
    display: grid;
    grid-template-columns: auto 200px auto;
}

.similiar-books-title h2 {
    display: inline-block;
    padding: 0px 15px 0 15px;
    font-weight: lighter;
    text-align: center;
}

.similiar-books-title hr {
    width: 100%;
    height: 0;
    margin: auto;
    border: 1px solid rgb(28, 33, 43, .5);
}

.home-list-slider {
    margin: auto;
}

@media (max-width: 1024px) {
    .book-content {
        max-width: 400px;
        grid-template-columns: auto;
    }

    .detail-container {
        padding-top: 25px;
    }

    .detail-container h1, h3 {
        padding-left: 0;
    }

    .sub-detail-container {
        margin: 25px auto auto auto;
        padding: 25px;
    }
}

@media (max-width: 475px) {
    .book-content {
        max-width: 95%;
        grid-template-columns: auto;
    }

    .book-content img {
        width: 100%;
        height: auto;
    }

    .sub-detail-container p {
        font-size: small;
    }
}