.list-slider {
    width: 100%;
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 100px auto 130px;
    background-color: transparent;
}

.list-slider h2 {
    margin: auto;
    display: inline-block;
    font-weight: lighter;
}

.list-slider div {
    width: 100%;
    height: 60px;
    display: inline;
    float: right;
}

.list-slider img {
    margin: 5px;
    display: inline;
    float: right;
    padding: 15px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.list-slider img:hover {
    transform: scale(0.8);
}

.list-slider hr {
    width: 100%;
    border: 1px solid rgb(28, 33, 43, .5);
    margin: auto;
}

.home-list-slider {
    width: 125px;
    height: 50px;
    display: block;
}

.home-list-slider img {
    width: 25px;
    margin: 7px;
    display: inline-block;
    padding: 7px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: 0.2s;
}

.home-list-slider img:hover {
    transform: scale(0.8);
}

.book-slide {
    width: 100%;
    min-height: 350px;
    height: fit-content;
    margin: auto auto 25px auto;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.book-slide::-webkit-scrollbar {
    display: none;
}

.book-slide span {
    display: inline-block;
    margin: 15px;
}

@media (max-width: 1024px) {
    .book-slide {
        width: 88%;
    }
}

@media (max-width: 425px) {
    .list-slider {
        grid-template-columns: 100px auto;
    }

    .list-slider hr {
        display: none;
    }
}

@media (max-width: 390px) {
    .book-slide {
        width: 85%;
    }
}