.error-container {
    min-width: 250px;
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    display: block;
    text-align: center;
}

.error-container h3 {
    font-weight: lighter;
    color: #1D222C;
}

.error-container img {
    width: 100%;
}

@media (max-width: 600px) {
    .error-container h3 {
        font-size: larger;
    }
}

@media (max-width: 425px) {
    .error-container {
        width: 90%;
    }
}