footer {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    column-gap: 10px;
    justify-content: center;
    background-color: #1D222C;
}

footer a {
    width: 100%;
    padding: 25px 0 25px 0;
    font-size: large;
    text-align: center;
    color: #EEEBE4;
}

footer a:hover {
    color: #E36166;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: repeat(4, 120px);
    }
}

@media (max-width: 530px) {
    footer {
        grid-template-columns: repeat(2, 120px);
        row-gap: 10px;
    }
}