footer {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1D222C;
}

footer div {
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
}

footer a {
    width: fit-content;
    font-size: large;
    color: #EEEBE4;
    text-align: center;
}

footer a:hover {
    color: #E36166;
}

@media (max-width: 768px) {
    footer div {
        width: 300px;
        grid-template-columns: repeat(auto-fill, 50%);
    }
}

@media (max-width: 320px) {
    footer div {
        width: 250px;
        grid-template-columns: 40% 60%;
    }
}