.footer {
    margin-top: 20px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: lightcoral;
}

.footer a {
    text-decoration: none;
    color: #160040;
    font-size: large;
    font-weight: 400;
}

.footer a:hover {
    color: aliceblue;
}

@media (max-width: 700px) {
    .footer {
        width: 100%;
    }
}